/* General font settings */
/* Bullet proof font-face definitions from: http://www.fontspring.com/blog/further-hardening-of-the-bulletproof-syntax */
/* Font suggestions from: Konstellations #0, http://konstellations.kernest.com/ */
@font-face {
  font-family: 'Steinem';
  src: url('fonts/steinem.eot'); /* IE9 Compat Modes */
  src: url('fonts/steinem.eot?iefix') format('eot'), /* IE6-IE8 */
       url('fonts/steinem.woff') format('woff'), /* Modern Browsers */
       url('fonts/steinem.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/steinem.svg#steinem') format('svg'); /* Legacy iOS */
}

#page h1, #page h2 {
  color: #26420d;
  font-weight: normal;
  line-height: 120%;
  letter-spacing: 1px;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}

h1 { font-size: 80px; }
h2 { font-size: 48px; }
h3 { font-size: 150%; }

#content h1 { font-size: 48px; }

h2 a {
  color: #26420d;
  text-decoration: none;
}

#page {
  font-family: 'Steinem', sans-serif;
  font-size: 125%;
  font-style: normal;
  font-weight: normal;
  rendering: optimizeLegibility;   
  line-height: 160%;   
}

.item-list ul li {
  margin: 0 0 7px 0;
  list-style: none;
}

a {
  color: #2a5604;
}

a:hover, a:active {
  color: #4fa106;
}

/* ************************************************ */
/* Region-specific settings */
h1#site-name a {
  color: #666666;
  text-decoration: none;
}

div.block, div.node {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

#site-slogan {
  color: #999999;
  font-size: 300%;
  margin-top: -20px;
}

#post-brand div.block {
  display: block;
  float: right; 
  width: 100%;
}

#post-brand ul.menu {
  float: right;
  margin-bottom: 0;
  margin-right: -7px;
}

#post-brand ul.menu li {
  float: left;
  list-style: none;
  padding: 0;
  margin: 0;
}

#post-brand {
 border-bottom: 1px solid gray;
 padding: 20px 0;
 margin: 30px 0 20px 0;
}

#post-brand a {
  color: #999999;
  font-size: 120%;
  padding: 10px;
  text-decoration: none;
}

#post-brand a:hover, 
#post-brand a:active {
  background-color: #7fd536;
  color: black;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

#post-brand form#search-block-form {
  float: right;
}

#post-brand #search-block-form label, 
form#user-login-form label {
  color: #999999;
  font-weight: normal;
}

#post-brand #search-block-form input, 
form#user-login-form input {
  background-color: #fefefe;
  border: 1px solid #dddddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 3px;
}

#post-brand #search-block-form input:focus, 
#post-brand #search-block-form input:hover,
#post-brand #search-block-form input:active, 
form#user-login-form input:focus, 
form#user-login-form input:hover,
form#user-login-form input:active {
  background-color: #7fd536;
}

form#user-login-form span.form-required {
  display: none;
}

#block-user-login {
  text-align: right;
  margin-bottom: 20px;
}

#block-user-login * {
  display: inline;
  text-align: right;
}

#block-user-login ul {
  display: none;
}

#sidebar-left div.block, #sidebar-right div.block {
  margin-bottom: 38px;
}

#above-content-first, #above-content-second {
  margin-bottom: 48px;
}


/* ************************************************ */
/* Front page-specific settings */

.front .region-above-content-first img {
  float: left;
  padding-bottom: 20px;
  padding-right: 20px;
}

.more-link, .front .node-readmore {
  border-bottom: 1px solid gray;
  display: block;
  text-align: center;
}

.more-link a, .front .node-readmore a {
  text-decoration: none;
}

#block-block-1 label {
  display: inline;
}

.poll .vote-form .choices {
  margin: 0;
}
